@import "tailwindcss";

:root {
  --background: #f8f6f2;
  --foreground: #111111;
  --accent: #b89b72;
}

html {
  scroll-behavior: auto;
}

body {
  background: var(--background);
  color: var(--foreground);

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
}

html,
body {
  cursor: none;
}